<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <!-- Vue JS CDN DEVELOPMENT-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"
        integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg=="
        crossorigin="anonymous"></script>


    <title>MyAILife</title>
    <style>

    </style>
</head>

<body>
    <div id="app">

        <div id="topNav">

        </div>
        <div id="bodyContent">
            <div v-if="status == 'postView'">
                <button type="button" @click="status = 'addPost'; writingNewComment = false">Write New Post</button>
                <div v-for="(post, index) in posts">
                    [% post.text %]
                    <div v-for="(comment, index) in post.comments">
                        [% comment.text %]
                    </div>
                    <button type="button" @click="writingNewComment = true; postCommentingOn = post.id">Comment</button>
                    <button type="button" @click="deletePost(post.id)">Delete Post</button>
                </div>
            </div>
            <form v-if="writingNewComment">
                <textarea placeholder="Comment Text Here" v-model="comment"></textarea>
                <button type="button" @click="newComment">Add Comment</button>
                <button type="button" @click="writingNewComment = false; postCommentingOn = 0; comment = ''">Discard
                    Comment</button>
            </form>
            <!-- When you get to adding photos, remember to add enctype -->
            <form v-if="status == 'addPost'">
                <button type="button" @click="status = 'postView'">View Posts</button>
                <input maxlength="255" type="text" v-model="addPostData.subject">
                <textarea type="text" v-model="addPostData.text"></textarea>
                <button type="button" @click="addPost">Add Post</button>
            </form>
        </div>
        <div id="bottomNav">

        </div>

    </div>
    <script>
        let app = new Vue({
            el: '#app',
            delimiters: ['[%', '%]'],
            data: {
                message: 'message',
                status: 'postView',
                posts: [],
                addPostData: {
                    subject: 'Subject Here',
                    text: 'Post Text Here',
                },
                writingNewComment: false,
                postCommentingOn: 0,
                comment: '',
            },
            methods: {
                getPosts: function () {
                    axios({
                        method: 'get',
                        url: '{% url "myailife:getPosts"%}',

                    }).then(response => {
                        console.log(response.data)
                        this.posts = response.data['posts']

                    })
                },
                addPost: function () {
                    axios({
                        method: 'post',
                        url: '{% url "myailife:addPost" %}',
                        data: this.addPostData,
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                        }
                    }).then(response => {
                        console.log(response.data)
                        this.message = response.data['message']
                        this.getPosts()
                    })
                },
                deletePost: function (id) {
                    console.log(id)
                    axios({
                        method: 'post',
                        url: '{% url "myailife:deletePost" %}',
                        data: { 'id': id },
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        }
                    }).then(response => {
                        console.log(response.data)
                        this.message = response.data['message']
                        this.getPosts()
                    })
                },
                newComment: function () {

                }
            },
            created: function () {
                this.getPosts()
            }
        })
    </script>
</body>

</html>