<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <!-- Vue JS CDN DEVELOPMENT-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"
        integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg=="
        crossorigin="anonymous"></script>

    <title>MyAILife</title>
    <style>

    </style>
</head>

<body>
    <div id="app">

        <div id="topNav">
            <button type="button" @click="status = 'addPost'; writingNewComment = false">Write New Post</button>

            <button type="button" @click="status = 'postView'">View Posts</button>

            <button type="button" @click="status = 'register'">Register!</button>

            <button type="button" @click="status = 'login'">Log In</button>

            <button type="button" @click="logout">Logout</button>
        </div>
        <div id="bodyContent">
            <div>
                [% message %]
            </div>
            <div v-if="status == 'postView'">
                <div v-for="(post, index) in posts">
                    [% post.text %]
                    <div v-for="(comment, index) in post.comments">
                        [% comment.text %]
                    </div>
                    <button type="button" @click="writingNewComment = true; postCommentingOn = post.id">Comment</button>
                    <button type="button" @click="deletePost(post.id)">Delete Post</button>
                </div>
            </div>
            <form v-if="writingNewComment">
                <textarea placeholder="Comment Text Here" v-model="comment"></textarea>
                <button type="button" @click="newComment">Add Comment</button>
                <button type="button" @click="writingNewComment = false; postCommentingOn = 0; comment = ''">Discard
                    Comment</button>
            </form>
            <!-- When you get to adding photos, remember to add enctype -->
            <form v-if="status == 'addPost'">
                <input maxlength="255" type="text" v-model="addPostData.subject">
                <textarea type="text" v-model="addPostData.text"></textarea>
                <button type="button" @click="addPost">Add Post</button>
            </form>
            <form v-if="status == 'register'">
                <input type="text" maxlength="24" v-model="register.username">
                <input type="password" maxlength="24" v-model="register.password" v-on:input="passwordCheck">
                <input type="password" maxlength="24" v-model="register.vpassword" v-on:input="passwordCheck">
                <input type="email" v-model="register.emailAddress">
                <button type="button" @click="registerUser" v-bind:disabled="register.passwordsMatch">Register</button>
            </form>
            <form v-if="status == 'login'">
                <input type="text" maxlength="24" v-model="login.username">
                <input type="password" maxlength="24" v-model="login.password">
                <button type="button" @click="loginUser">Log In</button>
            </form>
        </div>
        <div id="bottomNav">

        </div>

    </div>
    <script>
        let app = new Vue({
            el: '#app',
            delimiters: ['[%', '%]'],
            data: {
                message: 'message',
                status: 'postView',
                posts: [],
                addPostData: {
                    subject: 'Subject Here',
                    text: 'Post Text Here',
                },
                register: {
                    username: '',
                    password: '',
                    vpassword: '',
                    passwordsMatch: false,
                },
                login: {
                    username: '',
                    password: '',
                },
                writingNewComment: false,
                postCommentingOn: 0,
                comment: '',
                key: '{{key}}',
            },
            methods: {
                getPosts: function () {
                    axios({
                        method: 'get',
                        url: '{% url "myailife:getPosts"%}',

                    }).then(response => {
                        console.log(response.data)
                        this.posts = response.data['posts']

                    })
                },
                addPost: function () {
                    axios({
                        method: 'post',
                        url: '{% url "myailife:addPost" %}',
                        data: this.addPostData,
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                        }
                    }).then(response => {
                        console.log(response.data)
                        this.message = response.data['message']
                        this.getPosts()
                    })
                },
                deletePost: function (id) {
                    console.log(id)
                    axios({
                        method: 'post',
                        url: '{% url "myailife:deletePost" %}',
                        data: { 'id': id },
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        }
                    }).then(response => {
                        console.log(response.data)
                        this.message = response.data['message']
                        this.getPosts()
                    })
                },
                // Need to resolve login first, need user for comments
                newComment: function () {
                    axios({
                        method: 'post',
                        url: '',
                        data: {
                            'id': this.postCommentingOn,
                            'text': this.comment
                        },
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        }
                    }).then(response => {
                        console.log(response.data)
                        this.message = response.data
                        this.getPosts()
                    })
                },
                getKey: function () {
                    axios({
                        method: 'get',
                        url: '{% url "myailife:getKey" %}',
                    }).then(response => {
                        console.log(response.data)
                        this.key = response.data['key']
                        sessionStorage.setItem('key', this.key)
                    })
                },
                passwordCheck: function () {
                    if (this.register.password.localeCompare(this.register.vpassword) && this.register.password.length >= 8) {
                        this.register.passwordsMatch = true
                        console.log('Passwords Match!')
                        this.$forceUpdate()
                    } else {
                        this.register.passwordsMatch = false
                        this.$forceUpdate()
                    }
                },
                registerUser: function () {
                    this.passwordCheck()
                    if (!this.register.passwordsMatch) {
                        return
                    }
                    else {
                        axios({
                            method: 'post',
                            url: '{% url "myailife:register" %}',
                            headers: {
                                'X-CSRFToken': '{{ csrf_token }}'
                            },
                            data: {
                                username: this.register.username,
                                password: this.register.password,
                                vpassword: this.register.vpassword,
                                emailAddress: this.register.emailAddress,
                            }
                        }).then(response => {
                            console.log(response.data)
                            this.message = response.data['message']
                        })
                    }
                },
                loginUser: function () {
                    axios({
                        method: 'post',
                        url: '{% url "myailife:login" %}',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                        },
                        data: {
                            username: this.login.username,
                            password: this.login.password,
                        }
                    }).then(response => {
                        console.log(response.data)
                        this.message = response.data['message']
                        this.key = response.data['key']
                        this.$forceUpdate()
                    })
                },
                logout: function () {
                    axios({
                        method: 'get',
                        url: '{% url "myailife:logout" %}',
                    }).then(response => {
                        console.log(response.data)
                        this.message = response.data['message']
                    })
                },
                getKey: function () {
                    axios({
                        method: 'get',
                        url: '{% url "myailife:getKey" %}',
                    }).then(response => {
                        console.log('Returning from axios getKey call, response:')
                        console.log(response.data)
                        this.key = response.data['key']
                    })
                }
            },
            created: function () {
                this.getPosts()
                let key = sessionStorage.getItem('key')
                console.log(key)
                if (key == null) {
                    console.log('No key found, generating...')
                    this.getKey()
                    console.log(this.key)
                    sessionStorage.setItem('key', key)
                } else {
                    console.log('Key found, loading...')
                    this.key = key
                }
            }
        })
    </script>
</body>

</html>